<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\MyWorkspace\ColorfulSound\exe\ColorfulSound.jar</jar>
  <outfile>D:\MyWorkspace\ColorfulSound\exe\ColorfulSound.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>D:\MyWorkspace\ColorfulSound\exe\Alecive-Flatwoken-Apps-Volume-Soundsettings.ico</icon>
  <singleInstance>
    <mutexName>ColorfulSound</mutexName>
    <windowTitle></windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.7.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
    <opt>-Djava.library.path=C:\Windows\SysWOW64</opt>
  </jre>
</launch4jConfig>